.Vbox{
    -fx-border-width: 2;
    -fx-border-radius: 20;
    -fx-background-color: white;
    -fx-background-radius: 20;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 5, 0.5, 0, 0);
}
.Button{
    -fx-background-color: white;
}
.Button:pressed {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.8), 8, 0.5, 0, 2);
    -fx-translate-y: 2;
}